<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Vibe</title>
</head>
<style>
.suresh{
    position: relative;
    margin-top: 200px;
    color: #25316D;;
}
p{
    font-size: 20px;
}
</style>
<body>
    <div class="suresh">
        <center>
            <h1>Thanks for Register </h1>
            <p>click here to <a href="D:\Codes\Python\login.html">login</a></p></center>
        
    </div>
</body>
</html>